.button {
  flex-shrink: 0;
  display: inline-block;
  min-width: 120px;
  max-width: 155px;
  white-space: nowrap;
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  // text-overflow: ellipsis;
}

.button.disabled,
.disabled[type=button],
.disabled[type=submit],
.disabled[type=reset] {
  opacity: 0.25;
  pointer-events: none;
  cursor: disabled;
}

.button__header {
  color: $white-color;
  border: 2px solid $white-color;
  &:hover {
    color: $sacramento-state-green;
    background-color: $white-color;
    transition: color 0.3s ease,
                background-color 0.3s ease;
  }
} 

.button__footer {
  color: $sacramento-state-green;
  border: 2px solid $sacramento-state-green;
  &:hover {
    color: $white-color;
    background-color: $sacramento-state-green;
    transition: color 0.3s ease,
                background-color 0.3s ease;
  }
}
